#helpGeneralIcon {
    -fx-background-color: transparent;
    -fx-border-width: 0;
  }

#helpGeneralIcon:hover {
    -fx-background-color: rgb(211, 207, 207);
  }

#helpGeneralIcon:pressed {
    -fx-background-color: rgb(153, 152, 152);
  }