#backgroundRect {
  -fx-fill: #cc549c;
  -fx-opacity: 0.6;
}

#saveButton,
#deactivateButton,
#reactivateButton {
  -fx-text-fill: white;
  -fx-background-color: black;
  -fx-background-radius: 100;
}

#increaseStockButton,
#decreaseStockButton,
#increaseBeverageButton,
#decreaseBeverageButton,
#increaseButton,
#decreaseButton,
#voidButton,
#closeButton,
#confirmButton,
#cancelButton,
#selectButton,
#addButton,
#updateButton {
  -fx-text-fill: white;
  -fx-background-color: #d552a0;
  -fx-background-radius: 100;
}
